:root {
  font-family: "Inter", "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  color: #fff;
}

#root {
  min-height: 100vh;
  width: 100%;
}
